.internet-banking {
  overflow-x: hidden;
}

.internetBanking-content {
  padding-top: 13rem;
  width: 100vw;
  background-color: #F5F7F4;
  position: relative;
  z-index: 0;
  display: flex;
}

.content-container {
  width: 111.5rem;
  margin: 0 auto;
  height: 1800px;
}